@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes queda {
    0% {
        opacity: 1;
        transform: translateY(calc(-100vh /4));
    }

    60%{
        opacity: 1;
        transform: translate(0);
    }

    80% {
        transform: translateY(calc(-100vh /40));
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(-50vw);
    }

    80%{
        transform: translateX(20vw);
    }

    88% {
        transform: translateX(0);
    }

    90% {
        transform: translateX(-5vw);
    }

    95% {
        transform: translateX(1.25vw);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes ima {
    0% {
        opacity: 0;
    }

    80%{
        opacity: 0;
    }
    88%{
        transform: translateX(0);
    }
    90% {
        opacity: 1;
        transform: translateX(-5vw);
    }


    95% {
        opacity: 1;
        transform: translateX(1.25vw);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes mola {
    0% {
        opacity: 0;
    }

    80%{
        opacity: 0;
    }

    88%{
        opacity: 1;
        width: 14vw;
    }

    90% {
        opacity: 1;
        width: calc(14vw - 5vw);
    }

    95% {
        opacity: 1;
        width: calc(14vw + 1.25vw);
    }

    100%{
        opacity: 1;
        width: 14vw;
    }
}

@keyframes mexerFundo {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-2%);
    }
}

@keyframes abrirMenu {
    0%{
        transform: translateX(0);
    }

    100% {
        transform: translateX(35%);
    }
}

@keyframes fecharMenu {
    0%{
        transform: translateX(0);
    }

    20%{
        transform: translateX(75%);
    }

    70%{
        transform: translateX(75%);
    }

    100%{
        transform: translateX(0);
    }
}

@keyframes entrada {
    0% {

        opacity: 0;
        transform: translateY(100vh);
        border-bottom: 0.3vh solid #a3a2a200;
    }
    60%{
        background-color: #c9c9c900;
        transform: translateY(0);
        color:  #c9c9c9;
        border-bottom: 0.3vh solid #a3a2a200;
    }
    100% {
        background-color: #d8d8d8;
        color:  #1f1919;
        opacity: 1;
        border-bottom: 0.3vh solid #a3a2a2ce;
        
    }
}

@keyframes entrada-individual {
    0% {

        opacity: 0;
        transform: translateY(100vh);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes aumentar{
    0%{
        font-weight: 50;
    }
    100%{
        font-weight: 100;
    }
}

@keyframes rodape{
    0%{
        opacity: 0;
        transform: translateY(-10vh);
        color: #c9c9c9;
        background-color: #1f191900;
        border: 2px solid #86868600;
    }
    50%{
        opacity: 1;
        transform: translateY(10vh);
    }
    80%{
        border: 2px solid #86868600;
        color: #c9c9c9;
        background-color: #1f191900;
        transform: translateY(0);
    }
    100%{
        border: 2px solid #868686;
        background-color: #d8d8d8;
        color: #a15e38a6;
        opacity: 1;
        transform: translateY(0);
    }
}