@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes entrada {
    0% {
        opacity: 0;
        transform: translateY(100vw);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes queda {
    0% {
        opacity: 1;
        transform: translateY(calc(-100vh /4));
    }

    60%{
        opacity: 1;
        transform: translate(0);
    }

    80% {
        transform: translateY(calc(-100vh /40));
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(-50vw);
    }

    80%{
        transform: translateX(20vw);
    }

    88% {
        transform: translateX(0);
    }

    90% {
        transform: translateX(-5vw);
    }

    95% {
        transform: translateX(1.25vw);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes ima {
    0% {
        opacity: 0;
    }

    80%{
        opacity: 0;
    }
    88%{
        transform: translateX(0);
    }
    90% {
        opacity: 1;
        transform: translateX(-5vw);
    }


    95% {
        opacity: 1;
        transform: translateX(1.25vw);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes mola {
    0% {
        opacity: 0;
    }

    80%{
        opacity: 0;
    }

    88%{
        opacity: 1;
        width: 185px;
    }

    90% {
        opacity: 1;
        width: calc(185px - 5vw);
    }

    95% {
        opacity: 1;
        width: calc(185px + 1.25vw);
    }

    100%{
        opacity: 1;
        width: 185px;
    }
}

@keyframes mexerFundo {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-2%);
    }
}

@keyframes abrirMenu {
    0%{
        transform: translateX(0);
    }

    100% {
        transform: translateX(35%);
    }
}

@keyframes fecharMenu {
    0%{
        transform: translateX(0);
    }

    20%{
        transform: translateX(75%);
    }

    70%{
        transform: translateX(75%);
    }

    100%{
        transform: translateX(0);
    }
}