#navegacao {
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI, Helvetica Neue,Helvetica,Arial,sans-serif;
    min-height: 100vh;
    width: 100%;

    background-image: linear-gradient(45deg, #be3a3a59, #ce862279 60%), url('../img/estrelas.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    
    align-items: center;
    justify-content: right;

    position: top center;
    // z-index: -1;

    animation: fadeIn 2.0s 0s ease-out forwards;

}

#menu-geral {
    padding: 0.5vh 0.5vw;
    padding-top: calc(((1.5vw + 3vh)/2) + 3vh ); 
    position: fixed;
    top: 0;
    left: 0;
//     // z-index: 1;
    background-color: #1f1919ab;
    width: 40vw;
    min-height: 100vh;
    text-align: left;
    border-right: 0.15vw solid #a3a2a2ce;
    flex: 1;
    display: flex;
    flex-direction: column;
    z-index: 85;

    
    color: #c9c9c9;
    line-height: 0.9em;

    .opcoes{
        margin: 0;
        padding: 0 0 0.5vh 0;
        // text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

    }
    .sobre{
        margin: 0.3vh 0.5vw;
        padding: calc((0.6vw + 1.2vh)/2);
        font-size: calc((1.5vw + 3vh)/2);
        font-weight: 50;

        background-image: linear-gradient( 45deg, #be3ab759, #ce8622a9 60%) ;
        
        text-decoration: none;
        border: calc((0.2vh + 0.1vw)/2) solid #c9c9c9;
        border-radius: calc((1.8vh + 0.9vw)/2);

        opacity: 0;
        animation: entrada-individual 1s 2.4s ease-out forwards;
        
        transition: color 0.2s ease-in-out,
                    border 0.2s ease-in-out,
                    font-size 0.2s ease-in-out,
                    padding 0.2s ease-in-out;


        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            color:#000000;
            border: calc((0.3vh + 0.15vw)/2) solid #fff;
            font-size: calc((1.7vw + 3.4vh)/2);
            padding: calc((0.6vw + 1.2vh)/2);
        }
    }

    .objetivo{
        margin: 0.3vh 0.5vw;
        padding: calc((0.6vw + 1.2vh)/2);
        font-size: calc((1.5vw + 3vh)/2);
        font-weight: 50;

        background-image: linear-gradient( 45deg, #be3ab759, #ce8622a9 60%) ;

        text-decoration: none;
        border: calc((0.2vh + 0.1vw)/2) solid #c9c9c9;
        border-radius: calc((1.8vh + 0.9vw)/2);

        opacity: 0;
        animation: entrada-individual 1s 2.6s ease-out forwards;
        
        transition: color 0.2s ease-in-out,
                    border 0.2s ease-in-out,
                    font-size 0.2s ease-in-out,
                    padding 0.2s ease-in-out;


        &:hover,
        &:focus {
            color:#000000;
            border: calc((0.3vh + 0.15vw)/2) solid #fff;
            font-size: calc((1.7vw + 3.4vh)/2);
            padding: calc((0.6vw + 1.2vh)/2);
        }
    }

    .topicos{
        margin: 0.3vh 0.5vw;
        padding: calc((0.6vw + 1.2vh)/2);
        font-size: calc((1.5vw + 3vh)/2);
        font-weight: 50;
        
        background-image: linear-gradient( 45deg, #be3ab759, #ce8622a9 60%) ;


        text-decoration: none;
        border: calc((0.2vh + 0.1vw)/2) solid #c9c9c9;
        border-radius: calc((1.8vh + 0.9vw)/2);

        opacity: 0;
        animation: entrada-individual 1s 2.8s ease-out forwards;
    
        transition: color 0.2s ease-in-out,
                    border 0.2s ease-in-out,
                    font-size 0.2s ease-in-out,
                    padding 0.2s ease-in-out;
    

        &:hover,
        &:focus {
            color:#000000;
            border: calc((0.3vh + 0.15vw)/2) solid #fff;
            font-size: calc((1.7vw + 3.4vh)/2);
            padding: calc((0.6vw + 1.2vh)/2);
        }
    }

    .opcoes-conteudo{
        margin: 0;
        padding: calc((1vh + 0.5vw)/2);
        border-top: 0.15vw solid #a3a2a2ce;
        flex: 1;
        display: flex;
        flex-direction: column;
        font-size: calc((1.5vw + 3vh)/2);
        text-align: center;

        opacity: 0;

        animation: fadeIn 1s 4.1s ease-out forwards;
    }
    
}
///////////////////////////////////////////

#pagina-navegacao{
    // background-color: aqua;
    display: flex;
    padding: 0;
    margin-left: 40vw;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
//     z-index: -1;

    background-color: #1f191969;

    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI, Helvetica Neue,Helvetica,Arial,sans-serif;
    
    min-height: 100vh;
    width: 60vw;

    .titulo {
        line-height: 0.9em;
        margin:0;
        padding: 1vh 0;
        width: 100%;
        text-align: center;
        color:  #c9c9c9;
        font-size: calc((1.5vw + 3vh)/2);
        font-weight: 100;
        font-family: cursive;
        position:fixed;
        top: 0;
        right: 0;
        
        // letter-spacing: 1px;
        z-index: 90;
        opacity: 0;
    
        animation: entrada 2s 1s ease-out forwards;
    }

    #conteudo-dinamico{
        padding-top: calc(((1.5vw + 3vh)/2) + 5vh ); 
        width: 60vw;
        height: 40vh;
        
        color:#c9c9c9;
        align-items: center;
        justify-content: baseline;
        flex: 1;
        display: flex;
        flex-direction: column;
        text-align: center;
        

        opacity: 0;

        animation: fadeIn 1s 3.8s ease-out forwards;
    }

}

#rodape{
    position: fixed;
    right: 0;
    top: calc((1.5vw + 3vh)/2 + 1vh);
    background-color: #c9c9c9;
    color: #a15e38a6;
    

    line-height: 0.9em;
    margin:0;
    border: 2px solid #868686;
    border-radius: calc((1.3vw + 2.6vh)/4);
    padding: 1vh;
    text-align: center;
    line-height: calc((1.4vw + 2.8vh)/2);
    font-size: calc((1.3vw + 2.6vh)/2);
    font-weight: 100;
    font-family: cursive;
    
    letter-spacing: 1px;
    opacity: 0;
    z-index: 92;

    animation: rodape 1s 4.5s ease-in-out forwards;
}

@import './sobre';