#pagina-inicial{
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI, Helvetica Neue,Helvetica,Arial,sans-serif;
    min-height: 100vh;
    width: 100%;
    flex: 1;
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: top center;

    &::after{
        background-image: linear-gradient(to top, #3b281741, #0000008f 60%), url('/img/fundo-inicial.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        content: "";
        min-height: 100vh;
        
        pointer-events: none;
        position: top center;
        width: 105%;
        z-index: -1;

        animation: mexerFundo 13s ease-in-out infinite alternate;
    }
    
    &::before{
        background-image: linear-gradient(to top, #00000085, #00000000 60%);
        background-repeat: no-repeat;
        background-size: cover;
        content: "";
        height: 100%;
        background-position: top center;
        pointer-events: none;
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    animation: fadeIn 1.5s forwards;



    .mola {
        position: fixed;
        bottom: 22.5vh;
        
        left: calc(50vw - 10.25vh - 9.3vh - 12.5vw);
        height: 18.5vh;
        width: 14vw;

        opacity: 0;

        animation: mola 1.5s 2s ease-in-out forwards;
    }

    .ima {
        position: fixed;
        bottom: 27vh;

        left: calc(50vw - 10.25vh - 9.3vh);
        height: 9.2vh;
        width: 9.2vh;

        opacity: 0;

        animation: ima 1.5s 2s ease-in-out forwards;
    }
    .versao {
        position: fixed;
        bottom: 28vh;
        text-align: center;
        padding: 2vh 0;
        height: 6.8vh;
        width: 20.5vh;
        background: #d8dbff linear-gradient( 45deg,#888888, #ffffff 60%);
        border-radius: calc((0.6vh + 0.2vw)/2);
        
        font-size: 2.8vh; //2.8vh = 18px
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
        Bitstream Vera Sans Mono, Courier New, monospace;
    
        opacity: 0;
    
        animation: slide 1.5s 2s ease-in forwards;
    }
    .entrar {
        position: fixed;
        bottom: 44vh;

        padding: 2.4vh 2vw;
        text-align: center;
        font-size: 3vh; // 3vh=20px
        line-height: 0.9em;
        color: #c9c9c9;
        text-decoration: none;
        border: calc((0.6vh + 0.2vw)/2) solid #c9c9c9;
        border-radius: calc((2.4vh + 2vw)/2);
    
        opacity: 0%;
    
        animation: fadeIn 2.2s 3.5s ease-in-out infinite alternate;
    
        transition: color 0.3s ease-in,
                    border 0.3s ease-in-out,
                    font-size 0.3s ease-in,
                    opacity 0.3s ease-in;
    

        &:hover,
        &:focus,
        &:active {
            animation-iteration-count: initial;
            animation-direction: normal;
        
            color:#fff;
            border: calc((0.7vh + 0.3vw)/2) solid  #fff;
            font-size: 4vh;
            opacity: 100%;
        }
    }
}

#pagina-inicial .titulo-central {
    position: fixed;
    bottom:60vh;
    padding: 0 2vw;
    align-items: baseline;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .lab {
        margin: 0;
        padding: 0;
        line-height: 0.9em;
        text-align: center;
        font-size: 12vh;
        font-weight: 100;
        letter-spacing: 0.4vw;
        
        opacity: 0;
    
        animation: queda 0.8s 1.2s ease-in forwards;
    }

    .fisica{
        color: #c9c9c9;
        margin: 0;
        padding: 0; //4px=0.4vh
        line-height: 0.9em;
        text-align: center;
        font-size: 12vh; //12vh = 77px
        font-weight: 400;
        letter-spacing: 0.4vw;
    
        opacity: 0;
    
        animation: queda 0.8s 1.1s ease-in forwards;
    }
    
    .forma {
        margin: 0;
        padding: 0;
        line-height: 0.9em;
        text-align: center;
        font-size: 4vh; //4vh = 26px
        font-weight: 100;
        letter-spacing: 0.1vw;
    
        opacity: 0;
    
        animation: fadeIn 2s 2s ease-out forwards;
    }

}