#sobre{

    .titulo{
        margin: 0;
        font-size: calc((1.5vw + 3vh)/2);
        line-height: calc((1.5vw + 3vh)/2);
    }
    .descricao{
        padding: calc((0.5vw + 1vh)/2);
        margin: calc((0.5vw + 1vh)/2) 0;
        font-size: calc((1.2vw + 2.4vh)/2);
        line-height: calc((1.4vw + 2.8vh)/2);
        font-weight: 100;
        text-align: justify;

        border: calc((0.2vh + 0.1vw)/2) solid #c9c9c9;
        border-radius: calc((1.8vh + 0.9vw)/2);
    }
}