.caixa-btn{
    padding: calc((0.5vw + 1vh)/2);
    margin: calc((0.5vw + 1vh)/2) 2vw;
    font-size: calc((1.2vw + 2.4vh)/2);
    line-height: calc((1.4vw + 2.8vh)/2);
    width: 56vw;
    font-weight: 100;
    text-align: center;

    background-color: #1f1919ab;

    border: calc((0.2vh + 0.1vw)/2) solid #c9c9c9;
    border-radius: calc((1.8vh + 0.9vw)/2);

    animation: fadeIn 1s 0s ease-in-out forwards;

    .btn-topicos{
        padding: calc((1.2vw + 2.4vh)/4);
        font-size: calc((1.2vw + 2.4vh)/2);
        line-height: calc((1.4vw + 2.8vh)/2);
        font-weight: 50;

        color: #c9c9c9;
        border:1px solid #c9c9c9;
        border-radius: calc((1.2vw + 2.4vh)/2);
    
        background-color: #406e6e96;
    }
}

.titulo-topicos{
    margin: calc((1.8vw + 3.6vh)/4) 0;
    font-size: calc((1.8vw + 3.6vh)/2);
    line-height: calc((1.8vw + 3.6vh)/2);

    opacity: 0;
    animation: fadeIn 1s 0s ease-in-out forwards;
}

#conteudo-problema{
    padding: calc((0.5vw + 1vh)/2);
    margin: calc((0.5vw + 1vh)/2) 2vw;
    font-size: calc((1.2vw + 2.4vh)/2);
    line-height: calc((1.4vw + 2.8vh)/2);
    width: 56vw;
    font-weight: 100;
    text-align: justify;

    background-color: #1f1919ab;

    border: calc((0.2vh + 0.1vw)/2) solid #c9c9c9;
    border-radius: calc((1.8vh + 0.9vw)/2);

    opacity: 0;
    animation: fadeIn 1s 1.5s ease-in-out forwards;
}
